.desc-risorse {
    font-size: 25px;
    margin: auto;
    text-align: justify;
    max-width: 1000px;
    word-wrap: break-word;
    padding-bottom: 70px;
}

.tit-ris {
    text-align: center;
    padding-top: 30px;
    border-top: solid 2px rgba(1, 61, 125, 0.457);
    max-width: 1100px;
    margin: auto;
}

.tit-ris a {
    font-size: 28px;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: solid 2px transparent;
    color: rgb(1, 61, 125);
}

.tit-ris a:hover {
    border-bottom: solid 2px rgb(1, 61, 125);
}

.desc-ris {
    font-size: 20px;
    max-width: 1000px;
    text-align: justify;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 5px;
}

.desc-ris a {
    text-decoration: none;
    color: rgb(1, 61, 125);
    font-weight: 600;
}

.link-ris {
    text-decoration: none;
    color: rgb(1, 61, 125);
    font-weight: 600;
}

.classroom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 30px;
}

.classroom b {
    color: rgb(1, 61, 125);
    font-size: 20px;
}

.classroom li {
    margin: auto;
    max-width: 1000px;
    font-size: 20px;
}